<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebShot</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
<div class="container">
    <h3>截图服务</h3>
    <ul>
        <li>
            <a href="/webshot">获取URL截图</a>
        </li>
        <li><a href="/htmlshot">获取HTML截图</a></li>
    </ul>
</div>
</body>
</html>